In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.3'

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
# How many records are in the dataset?
df.shape[0]

2160

In [6]:
# How many laptop brands are presented in the dataset?
df.Brand.nunique()

27

In [7]:
# How many columns in the dataset have missing values?
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
(df.isnull().sum() > 0).sum()

np.int64(3)

In [11]:
# What's the maximum final price of Dell notebooks in the dataset?
df[df.Brand == 'Dell']['Final Price'].max()

np.float64(3936.0)

In [13]:
# Find the median value of Screen column in the dataset.
# Next, calculate the most frequent value of the same Screen column.
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
# Now, calculate the median value of Screen once again.
median_screen = df['Screen'].median()
median_screen

np.float64(15.6)

In [15]:
most_frequent = df['Screen'].mode()[0]
most_frequent

np.float64(15.6)

In [16]:
df['Screen'] = df['Screen'].fillna(most_frequent)

In [17]:
median_after = df['Screen'].median()
median_after

np.float64(15.6)

In [18]:
# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

In [21]:
df_innjoo = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]
df_innjoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [24]:
X = df_innjoo.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [25]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [26]:
w = (XTX_inv @ X.T) @ y
w

array([45.58076606,  0.42783519, 45.29127938])

In [27]:
sum(w)

np.float64(91.2998806299555)